<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" crossorigin="anonymous">
    <link rel="stylesheet" href="./css/style.css">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>     -->

    <style>
      

      .carousel-control-next{
background: none;
background-color: transparent;
border: none;
color: black;
      }
      .carousel-control-next:focus{
        outline: none;
      }


      .carousel-control-prev{
background: none;
background-color: transparent;
border: none;
      }
      .carousel-control-prev:focus{
        outline: none;
      }

      .carousel-inner{
        border-bottom: black;
      }
      .div_wrap_reg{
        width: 100%;
        height: 100%;
        position: fixed;
        display: flex;
        align-items: center;
        justify-content: center;
        z-index: 999;
        top: 0;
        background-color: yellow;
        display: none;

      }
      input{
          padding: .86rem .6rem .86rem .6rem;
          border-radius: 1rem;
      }
      input:focus{
          outline: none;
      }
    </style>

  </head>
<body>
  <h1 style="text-align: center;">Registration Successfull</h1><br><br>

<div style="display: flex; justify-content: center;width: 100%;height: 100%;">
    <div style="width: 100vw;margin-top: 5rem;text-align: center;">
      <div>       
        <img src="https://hackrpoint.com/animation_500_km3o2lit.gif" style="width: 8rem; text-align: center;" alt="" srcset="">
      </div><br>
<h4  style="text-align: center;">Welcome to Parmeshwar Family</h4>
    </div>
</div>

<script>
    document.getElementById('regest').addEventListener('submit',function(){
        window.location.href="/";    })
</script>
    </body>
</html>